<h1>Listing links</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Bundle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link.name %></td>
        <td><%= link.url %></td>
        <td><%= link.bundle.name %></td>
        <td><%= link_to 'Show', [@bundle, link] %></td>
        <td><%= link_to 'Edit', edit_bundle_link_path(@bundle, link) %></td>
        <td><%= link_to 'Destroy', [@bundle, link], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Link', new_bundle_link_path %>
