
<% content_for :header do %>
	<header>
		<h2><%= icon 'bookmark-o' %> Bundles</h2>
	</header>
<% end %>

<div class="cf">
	<% @bundles.each do |bundle| %>
		
		<div class="module">
			
			<div class="icon-container">
				<span class="count"><%= bundle.links.count %></span>
				<%= icon('folder-o') %>
			</div>

  		<h2><%= link_to bundle.name, bundle %></h2>

  		<span class="details">
  			<%= link_to icon('cog'), edit_bundle_path(bundle) %>
  			<%= icon('tag') %> 
  			<em><%= bundle.tag_list.join(', ') %></em>
  		</span>
  	
  	</div> <!--/.module -->
	<% end %>
</div> <!--./cf -->

<br>
<p><%= link_to icon('bookmark-o') + 'New Bundle', new_bundle_path, class: 'button' %></p>
