
<% content_for :header do %>
	<header>
		<h2>
			<%= icon 'bookmark-o' %> 
			<%= link_to 'Bundles', bundles_path %>
			<%= icon('angle-right') + @bundle.name %>
		</h2>
	</header>
<% end %>

<div class="cf">
	<% @bundle.links.each do |link| %>
		
		<div class="module">
			
			<div class="icon-container">
				<%= icon('star-o') %>
			</div>

  		<h2><%= link_to link.name, edit_bundle_link_path(@bundle, link) %><br></h2>

  		<span class="details">
  			<em><%= link.url %></em>
  		</span>
  	
  	</div> <!--/.module -->
	<% end %>
</div> <!--./cf -->

<br>

<p>
	<%= link_to 'Create a bookmark', new_bundle_link_path(@bundle), class: "button" %>
	<%= link_to icon('angle-left') + 'Back', bundles_path, class: "button" %>
</p>
