<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Bookmarker</title>
 	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">

		<header>
			<small>
				<% if current_user %>
					Logged in as <%= current_user.email %>.
					<%= link_to "Bundles", bundles_path %>
					<%= link_to "Users", users_path %>
					<%= link_to "Log Out", logout_path %>
				<% else %>
					<%= link_to "Log In", login_path %>
				<% end %>
			</small>

			<p>
				<a href="<%= root_url %>"><img src="<%= asset_path "push.png" %>" class="logo"></a>
			</p>
		</header>

		<hr>
		
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>

		<%= yield %>
	</div>

</body>
</html>
